#note{
    font-size: large;
    background-color: brown;
    text-align: center;
    border: solid;
}

div#case1{
    border: solid;
}

div#case2{
    border: solid;
}

div#case3{
    border: solid;
}

div#review1{
    border: solid;
}

